<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  lang="en"  >
<head>
    <meta charset="UTF-8">
    <title>Registro de Sucursales</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class = "container">
        <nav class = "navbar navbar-expand-md bg-dark navbar-dark" >
            <a class="navbar-brand" href="#"> App Gestor de Sucursales</a>
            <!--Navbar links-->
            <div class = "collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link"
                         th:href="@{/Branches}">App Gestor</a></li>
                </ul>
            </div>

        </nav>


    </div>

  <div class="container">
      <div clase="row">
          <h1>Lista de las Sucursales</h1>
      </div>
      <table class="table table-striped table-bordered">
          <thead class="table-dark">
            <tr>
                <th> Name </th>
                <th> Country </th>
            </tr>
          </thead>
          <tbody>
          </tbody>

      </table>

  </div>



</body>
</html>